.main {
  display: grid;
}

.main__section {
  max-width: var(--max-content-width);
  width: calc(100% - (var(--side-margin) * 2));
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .main__section {
    width: calc(100% - 30px * 2);
  }
}

@media screen and (max-width: 767px) {
  .main__section {
    width: calc(100% - 10px * 2);
  }
}
